*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
body{
    color: white;
    background-color: rgb(34, 32, 32);
    box-sizing: border-box;
}
.menu{
    display: flex;
    flex-direction: row;
    font-family: 'Rozha One', serif;
    margin-top: 3px;
    background-color: black;
}
h1{
   
    font-size: 50px;
}
.titulo{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    width: 100%;  
}
.favoritos{
    height: 25px;
    margin-left: 20px;
    
}

a{
    text-decoration: none;
    color: white;
}
.fav{
    margin-left: 20px;
}

.busca{
    height: 40px;
    width: 200px;
    margin-top: 50px;
    margin-left: 10px
}

.logo{ 
height: 100px;
padding: 5px;
}
p{
font-size: 20px;

}
.mejoresvaloradas{
    margin-top: 3px;
    background-color: black;
    
}

h3{
    padding-top: 30px;
    padding-left:30px;
}
.fotoss{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 15px;
margin-right: 15px;
margin-top: 30px;
padding-bottom: 30px;
}
.foto{
    height: 300px;
}
.mejoresvaloradas1{
    margin-top: 10px;
    background-color: black;  
    padding: 10px;
}
.imagene:hover{
    
        transform: translateY(-10px);
        box-shadow: 0 0 20px rgba(215, 212, 212, 0.57);
}
.fotoss_generos { 
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    margin-top: 30px;
    padding-bottom: 30px;
    margin: left;
}
footer{
    padding-left: 10px;
    padding-bottom: 5px;
}
.detallep{
    background-color: black;
    margin-top: 3px;
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
}

.separador{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}
.fotodet {
    margin-left: 10px;
    height: 480px;
}
.textod{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.sectra{
    background-color: black;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}
.detallitos{
    margin-left: 15px;
}
.fotobb{
    height: 480px;
    padding-right: 10px;
}
.detallbb{
    background-color: black;
    margin-top: 3px;
    padding-bottom: 10px;
}
.titbb{
    padding-left: 10px;
    margin-top: 3px;
}